.profile-screen {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background-color: rgba(255, 255, 255, 0.1); */
}

.login-section {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.profile-buttons {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}


.login-alert {
	margin-top: 30px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(201, 201, 12);
	font-family: "VT323", monospace;
}
h1 {
	font-family: "VT323", monospace;
	color: rgb(201, 201, 12);
}

.login-screen {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	height: 50%;
	border-radius: 5px;
	background-color: gray;
}

.profile-section {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	box-sizing: border-box;
	padding: 5px;
}

.user-header {
	width: 100%;
	height: 20%;
	margin-top: 30px;
}

.user-image {
	display: flex;
	align-items: end;
}

.user-info{
    font-size: 20px;
    margin-left: 8px;
}

.games-title{
	margin-top: 10px;
	width: 100%;
	color:rgb(201, 201, 12);
}

.logout-button {
	position: fixed;
	top: 10px;
	right: 10px;
}

.user-games{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: hidden;
	overflow-x: hidden;
	color: white;
}

.game-component{
	width: 100%;
	font-size: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	background-color: gray;
	border-radius: 5px;
	box-sizing: border-box;
}
.game-component h1{
	color: white;
}

.game-info-body h1{
	font-size: 9px;
}

.game-info-header-left-bottom h2{
	color: white;
}

.user-profile-icon{
	height: 25px;
	display:flex;
	align-items: center;
}

.user-profile-icon img{
	width: 20px;
	height: 20px;
}

.left-game-info{
	display: flex;
	height: 100%;
	align-items: center;
	margin-left: 5px;
}

.game-info-header-left{
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.game-info-body{
	display: flex;
	flex-direction: column;
	margin-right: 2px;
}

.leaderboards-screen{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.leaderboards-section{
	width: 100%;
	display: relative;
	height: 85%;
	width: 90%;
	overflow-y: hidden;
}
.leaderboards-page{
	display: flex;
	flex-direction: column;
}

.return-arrow {
	display: flex;
	position: absolute;
	top: 10px;
	left: 10px;
}

.hidden {
	display: none;
}
